@{
    ViewData["Title"] = "Add Movie";
}

@model MovieFormViewModel

<!-- Formatting is using classes from bootstrap-->
<!--Outer container-->
<div class="container mt-5" style="max-width: 500px;">
    <h1 class="mb-3">@(Model.Movie.MovieId == 0 ? "Add Movie" : "Edit Movie")</h1>

    <p class="text-muted">
        @(Model.Movie.MovieId == 0 ? "Please enter the information for the new movie below." : $"Please make the desired edits for the movie below.")
    </p>

    <!-- Begin Form-->
    <form method="post">

    <input type="hidden" asp-for="Movie.MovieId"/>

    <!-- Container for Category Input-->
    <div class="mb-3">
        <label for="category" class="form-label">
            Category
        </label>
        <select asp-for="Movie.CategoryId" class="form-control">
            @if (Model.Movie.CategoryId == 0)
            {
                <option value="">-- Select Category --</option>
            }
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CategoryId">@cat.CategoryName</option>
            }
        </select>
        <span asp-validation-for="Movie.Category" class="text-danger"></span>
    </div>

    <!-- Container for Title input -->
    <div class="mb-3">
        <label for="title" class="form-label">
            Title
        </label>
        <input id="title"
               class="form-control"
                type="text"
                asp-for="Movie.Title"/>
        <span asp-validation-for="Movie.Title" class="text-danger"></span>
    </div>

    <!-- Container for Year input-->
    <div class="mb-3">
        <label for="year" class="form-label">
            Year
        </label>
        <input id="year"
                class="form-control"
                type="number" 
                asp-for="Movie.Year" />
        <span asp-validation-for="Movie.Year" class="text-danger"></span>
    </div>

    <!-- Container for Director Name input -->
    <div class="mb-3">
        <label for="director" class="form-label">
            Director Full Name
        </label>
        <input id="director"
               class="form-control"
               type="text"
               asp-for="Movie.Director" />
        <span asp-validation-for="Movie.Director" class="text-danger"></span>
    </div>

    <!-- Container for Rating Input-->
    <div class="mb-3">
        <label for="rating" class="form-label">
            MPA Rating
        </label>
        <select id="rating"
                class="form-control"
                asp-for="Movie.Rating"
                asp-items="Html.GetEnumSelectList<Rating>()">             
            @if (Model.Movie.MovieId == 0)
            {
                <option value="">-- Select Rating --</option>                           
            }
        </select>
        <span asp-validation-for="Movie.Rating" class="text-danger"></span>
    </div>

    <!-- Container for Edited input -->
    <div class="mb-3">
        <label class="form-label">Is this movie edited?</label>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   asp-for="Movie.Edited"
                   value="true"
                   id="editedYes" />
            <label class="form-check-label" for="editedYes">
                Yes
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   asp-for="Movie.Edited"
                   value="false"
                   id="editedNo" />
            <label class="form-check-label" for="editedNo">
                No
            </label>
        </div>
    </div>

    <!-- Container for LentTo input -->
    <div class="mb-3">
        <label for="lent-to" class="form-label">
            If the movie is lent out, please enter who it is lent to.
        </label>
        <input id="lent-to"
               class="form-control"
               type="text"
               asp-for="Movie.LentTo" />
    </div>

    <!-- Container for CopiedtoPlex input -->
    <div class="mb-3">
        <label class="form-label">Has this movie been copied to the Plex Server?</label>

        <div class="form-check">
            <input class="form-check-input"
                    type="radio"
                    asp-for="Movie.CopiedToPlex"
                    value="true"
                    id="editedYes" />
            <label class="form-check-label" for="editedYes">
                Yes
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                    type="radio"
                    asp-for="Movie.CopiedToPlex"
                    value="false"
                    id="editedNo" />
            <label class="form-check-label" for="editedNo">
                No
            </label>
        </div>
    </div>

    <!-- Container for Notes input -->
    <div class="mb-3">
        <label for="notes" class="form-label">
            Additional Notes
        </label>
        <textarea id="notes" class="form-control" asp-for="Movie.Notes"></textarea>
        <span asp-validation-for="Movie.Notes" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">@(Model.Movie.MovieId == 0 ? "Add Movie" : "Save Edits")</button>

    </form>
</div>